name: Test

on: [pull_request]

permissions:
  issues: write # create and delete comments

jobs:
  test:
    name: Automated tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: "2.x"

      - name: Run tests
        run: deno task test 
