name: Test

on: [pull_request]

jobs:
  test:
    name: Automated tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: "2.x"

      - name: Run tests
        run: deno task test

  lint-and-format:
    name: Lint and format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: "2.x"

      - name: Check formatting
        run: deno fmt --check

      - name: Lint
        run: deno task lint
